@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    color: white;
    background-color: #252934;
    max-width: 600px;
    margin: 0 auto;
}

header h1 {
    color: #ffffff;
}

form {
    display: flex;
    margin-bottom: 2rem;
}

form input {
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    margin-right: 1rem;
    color: white;
    background-color: #414349;
    border: 5px solid #6c3b3b;
}

form input:focus {
    outline: none;
}

button {
    color: rgba(255, 255, 255, 0.438);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(44, 44, 44);
}

button.action {
    font-weight: bold;
    color: #e0d4b4;
    border: solid 3px #495669;
    background-color: #282c34;
}

button.action:hover {
    color: #ffffff;
    border: solid 3px #d8d8d8;
}

li {
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: auto 35px;
    border-radius: 15px;
    padding: 1rem;
    padding-left: 0.8rem;
    margin: 1rem;
    margin-bottom: 2rem;
    min-height: 170px;
    border: solid 8px #6c3b3b;
    background-color: #2a3140;
}

button.borrar {
    opacity: 30%;
    font-size: 0.6rem;
    margin-top: 6px;
    margin-right: 3px;
    justify-self: right;
    border: solid 3px #747474;
}

button.borrar:hover {
    opacity: 100%;
    color: #6c3b3b;
    border: solid 3px #6c3b3b;
}

.fullName {
    color: #a6bfd6;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.userBody {
    align-self: center;
    padding-left: 1rem;
}

.tweetContent {
    font-size: 1.2rem;
    margin-top: 5px;
    padding-right: 2rem;
    align-self: center;
}

.avatar {
    justify-self: center;
    align-self: center;
    max-width: 100px;
    border-radius: 50%;
    border: solid 6px #495669;
}

footer {
    align-self: end;
}

ul#tweets {
    list-style: none;
    margin: auto;
    width: 550px;
    padding: 0;
}

ul#tweets li footer {
    justify-self: center;
}

ul#tweets li footer time {
    padding-left: 2px;
    font-size: 0.8rem;
    opacity: 60%;
}
